.sidebar
    .logo.hidden-xs(ui-sref='front')
        span GET
            span.color-red POLITICS
        .buzz
            | .buzz

    i.fa.fa-times-circle(ui-sref='{{self.article.return}}', title='Close')

    i.fa.fa-home(ui-sref='feed.all', title='Back to Home')

    btn.fa.fa-facebook-official(socialshare,
                                socialshare-provider="facebook",
                                socialshare-via="{{CONFIG.fb_id}}",
                                socialshare-text="{{self.article.headline}}",
                                socialshare-redirect-uri="http://getpolitics.buzz",
                                socialshare-url="http://getpolitics.buzz{{self.location.$$url}}", title='Share with facebook',
                                onclick="window.ga('send', 'event', 'Social', 'share', 'Facebook')")


    btn.fa.fa-twitter-square(socialshare
                             socialshare-provider="twitter"
                             socialshare-hashtags="getpolitics, twurl"
                             socialshare-text="{{self.article.headline}}"
                             socialshare-url="http://getpolitics.buzz{{self.location.$$url}}", title='Share with twitter',
                             onclick="window.ga('send', 'event', 'Social', 'share', 'Twitter')")

    a.fa.fa-envelope-square(href="mailto:?subject={{self.article.headline}}+http://getpolitics.buzz{{self.location.$$url}}", title='Send email',
                            onclick="window.ga('send', 'event', 'Social', 'share', 'Email')")

.frame
    iframe(src="{{self.url}}", resize)